body {
    background-image: url(../img/SENA4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con algo de transparencia */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    padding: 2rem;
    position: relative; /* Necesario para que el logo se posicione respecto a la tarjeta */
    margin-top: 5rem;
}

.logo {
    width: 40px; /* Tamaño del logo */
    position: absolute;
    top: 20px; /* Posición vertical del logo */
    left: 20px; /* Posición horizontal del logo */
}

.form-content {
    margin-top: 20px; /* Margen superior para evitar superposición con el logo */
}

h2 {
    color: #343a40;
    font-size: 1.8rem; 
    font-weight: bold;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    font-size: 1.1rem; 
}

.btn-primary {
    background-color: #000000; /* Color negro para el botón */
    border-color: #28a745;
    padding: 0.75rem; 
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el ratón */
    border-color: #1e7e34;
}

.alert {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .card {
        margin: 20px;
    }
}
.logo {
    width: 30px; /* Ajusta el tamaño del logo a un valor más pequeño */
    position: absolute;
    top: 20px; /* Posición vertical del logo */
    left: 20px; /* Posición horizontal del logo */
}
