body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/SENA4.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    text-align: center;
    position: relative;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; 
    height: auto;
}
.title {
    margin-top: 60px; 
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
.options {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.form-group {
    margin-top: 50px;
}
.submit-button {
    padding: 10px 26px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.submit-button:hover {
    background-color: #218838;
}
input[type="number"], input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.date-time-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
