body {
    margin: 0;
    padding: 0;
    background-image: url('../img/SENA4.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    position: relative;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; 
    height: auto;
}
h2 {
    margin-top: 30px; 
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.header button {
    padding: 5px 10px;
    color:  #0a0a0a;
}

.btn-volver {
    position: absolute;
    top: 10px;
    right: 10px;
    color:  #28a745;
}

.btn-volver button {
    padding: 10px 20px;
    color:  #070707;
    background-color: #f7faf8;
}
